body{
    color: white;
    background-color: black;
    background-repeat: no-repeat;
    background-position: right;
    font-family: 'Montserrat', sans-serif;
}

main{
    display: flex;
}

section{
    width: 30%;
}

input{
    border-radius: 5px;
}

button{
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
    border-radius: 5px;
    height: 24px;
}

button:hover{
    background-color: rgb(224, 146, 224);
    transition: 0.7s;
}

#frame{
    height: 500px;
    width: 800px;
}